extends ../layouts/layout_nav.pug

block content
  .container.mt-5
    h1 Editar Tipo de Medicamento
    form(action=`/tiposMedic/${tipo.CodTipoMed}` method='POST')
      .mb-3
        label.form-label(for='descripcion') Descripción
        input.form-control(type='text', name='descripcion', required value=tipo.descripcion)
      button.btn.btn-primary(type='submit') Actualizar
      a.btn.btn-secondary.ms-2(href='/tiposMedic') Cancelar
