extends ../layouts/layout_nav.pug

block content
  .container.mt-5
    h1 Especialidades
    a.btn.btn-primary.mb-3(href='/especialidades/new') Nueva Especialidad

    table.table.table-striped
      thead
        tr
          th Código
          th Descripción
          th Acciones
      tbody
        each esp in especialidades
          tr
            td= esp.CodEspec
            td= esp.descripcionEsp
            td
              a.btn.btn-sm.btn-warning(href=`/especialidades/${esp.CodEspec}/edit`) Editar
              form(action=`/especialidades/${esp.CodEspec}/delete`, method='POST', style='display:inline')
                button.btn.btn-sm.btn-danger(type='submit') Eliminar
